{% extends 'music/base.html' %}
{% block title %}{{ language.create_album.title }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ language.create_album.album_title }}</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'music/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">{{ language.create_album.submit }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>介绍</h3>
                    <p>介绍</p>
                    <h3>介绍</h3>
                    <p>介绍</p>
                    <h3>介绍</h3>
                    <ul>
                        <li>待定</li>
                        <li>待定</li>
                        <li>待定</li>
                        <li>待定</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
